<br>
<h1>
    Important Laws of Physics
</h1>
<p>
    Physical laws play a crucial role in Science and are considered as fundamental.
    Many laws of physics are built after various research or some are a modification
    of existing laws and theoretical research. This article deals with important laws
    of physics which will help in the preparation of various examinations.
    <br>
    Physical laws are the conclusions drawn on the basis of long year scientific
    observations and experiments which are repeated again and again under different
    conditions to reach the assumptions which can be accepted worldwide. We all know
    our world works on some principles and these principles are drawn by our scientists
    in the form of certain physical laws.
</p>

<h3>Important Laws of Physics</h3>
<h4>1.Archimedes Principle</h4>
<p>The principle was discovered in 3rd century B.C. by the Greek mathematician. Archimedes.
    It states that when a body is partially or totally immersed in a fluid, it experiences an
    upward thrust equal to the weight of the fluid displaced by it that i.e. its apparent loss
    of weight is equal to the weight of liquid displaced.
</p>
<h4>2. Avagadro’s Law</h4>
<p>In 1811 it was discovered by an Italian Scientist Anedeos Avagadro. This law states that equal
    volume of all gases under the same conditions of temperature and pressure contain equal number of molecules.
</p>
<h4>3. Ohm's Law </h4>
<p>It states that the current passing through a conductor between two points is directly proportional
    to the potential difference across the two points provided the physical state and temperature etc.
    of the conductor does not change.
</p>