table {
    width:100%;
    height: auto;
  }
  .container{
    background: white;
    padding: 15px;
  }
  .Add_button{
    text-align: right;
    margin-bottom: 15px;
  }
  .add_icon{
    height: 28px;
    zoom: 0.6;
  }
  