<br>
<div class="container">
        <h1>
            Chemistry
        </h1>
        <mat-divider></mat-divider>
        <p>
            Chemistry is the scientific discipline involved with elements and compounds composed of atoms,
            molecules and ions: their composition, structure, properties, behavior and the changes they
            undergo during a reaction with other substances.

            In the scope of its subject, chemistry occupies an intermediate position between physics and biology.
            It is sometimes called the central science because it provides a foundation for understanding
            both basic and applied scientific disciplines at a fundamental level. For example, chemistry
            explains aspects of plant chemistry (botany), the formation of igneous rocks (geology),
            how atmospheric ozone is formed and how environmental pollutants are degraded (ecology),
            the properties of the soil on the moon (astrophysics), how medications work (pharmacology),
            and how to collect DNA evidence at a crime scene (forensics).

            Chemistry addresses topics such as how atoms and molecules interact via chemical bonds to form
            new chemical compounds. There are four types of chemical bonds: covalent bonds, in which compounds
            share one or more electron(s); ionic bonds, in which a compound donates one or more electrons to
            another compound to produce ions (cations and anions); hydrogen bonds; and Van der Waals force bonds.
        </p>
        <h2>
            Etymology
        </h2>
        <mat-divider></mat-divider>
        <p>
                The word chemistry comes from alchemy, which referred to an earlier set of practices that 
                encompassed elements of chemistry, metallurgy, philosophy, astrology, astronomy, mysticism 
                and medicine. It is often seen as linked to the quest to turn lead or another common starting 
                material into gold, though in ancient times the study encompassed many of the questions 
                of modern chemistry being defined as the study of the composition of waters, movement, growth, 
                embodying, disembodying, drawing the spirits from bodies and bonding the spirits within bodies
                by the early 4th century Greek-Egyptian alchemist Zosimos. An alchemist was called a 'chemist'
                 in popular speech, and later the suffix "-ry" was added to this to describe the art of the
                  chemist as "chemistry".
<br>
                The modern word alchemy in turn is derived from the Arabic word al-kīmīā (الكیمیاء). 
                In origin, the term is borrowed from the Greek χημία or χημεία. This may have 
                Egyptian origins since al-kīmīā is derived from the Greek χημία, which is in turn derived
                 from the word Kemet, which is the ancient name of Egypt in the Egyptian language.
                  Alternately, al-kīmīā may derive from χημεία, meaning "cast together".
        </p>
        <h2>
            Modern Principles
        </h2>
        <mat-divider></mat-divider>
        <p> 
                The current model of atomic structure is the quantum mechanical model. 
                Traditional chemistry starts with the study of elementary particles, atoms, molecules, 
                substances, metals, crystals and other aggregates of matter. This matter can be studied in solid, 
                liquid, or gas states, in isolation or in combination. The interactions, reactions and 
                transformations that are studied in chemistry are usually the result of interactions between 
                atoms, leading to rearrangements of the chemical bonds which hold atoms together. 
                Such behaviors are studied in a chemistry laboratory.
<br>
                The chemistry laboratory stereotypically uses various forms of laboratory glassware. 
                
                However glassware is not central to chemistry, and a great deal of experimental 
                (as well as applied/industrial) chemistry is done without it.
                <br>
                
                Solutions of substances in reagent bottles, including ammonium hydroxide and nitric acid, 
                illuminated in different colors
                A chemical reaction is a transformation of some substances into one or more different substances.
                 The basis of such a chemical transformation is the rearrangement of electrons in the chemical
                 bonds between atoms. It can be symbolically depicted through a chemical equation, which usually
                  involves atoms as subjects. The number of atoms on the left and the right in the equation
                   for a chemical transformation is equal. (When the number of atoms on either side is unequal,
                    the transformation is referred to as a nuclear reaction or radioactive decay.) The type of 
                    chemical reactions a substance may undergo and the energy changes that may accompany it are
                     constrained by certain basic rules, known as chemical laws.
                <br>
                Energy and entropy considerations are invariably important in almost all chemical studies. 
                Chemical substances are classified in terms of their structure, phase, as well as their 
                chemical compositions. They can be analyzed using the tools of chemical analysis, e.g. 
                spectroscopy and chromatography. Scientists engaged in chemical research are known as 
                chemists. Most chemists specialize in one or more sub-disciplines. Several concepts 
                are essential for the study of chemistry; some of them are:
        </p>
        <h3>
            Matter
        </h3>
        <mat-divider></mat-divider>
        <p>
                In chemistry, matter is defined as anything that has rest mass and volume 
                (it takes up space) and is made up of particles. The particles that make up 
                matter have rest mass as well – not all particles have rest mass, such as the photon. 
                Matter can be a pure chemical substance or a mixture of substances.
        </p>
        <h3>
            Phase
        </h3>
        <mat-divider></mat-divider>
        <p>
                In addition to the specific chemical properties that distinguish different chemical 
                classifications, chemicals can exist in several phases. For the most part, the chemical 
                classifications are independent of these bulk phase classifications; however, some more 
                exotic phases are incompatible with certain chemical properties. A phase is a set of 
                states of a chemical system that have similar bulk structural properties, over a range 
                of conditions, such as pressure or temperature.
<br>
                Physical properties, such as density and refractive index tend to fall within values 
                characteristic of the phase. The phase of matter is defined by the phase transition, 
                which is when energy put into or taken out of the system goes into rearranging the 
                structure of the system, instead of changing the bulk conditions.
                <br>
                Sometimes the distinction between phases can be continuous instead of having a discrete 
                boundary' in this case the matter is considered to be in a supercritical state. When three 
                states meet based on the conditions, it is known as a triple point and since this is 
                invariant, it is a convenient way to define a set of conditions.
                <br>
                The most familiar examples of phases are solids, liquids, and gases. Many substances 
                exhibit multiple solid phases. For example, there are three phases of solid iron 
                (alpha, gamma, and delta) that vary based on temperature and pressure. A principal 
                difference between solid phases is the crystal structure, or arrangement, of the atoms.
                 Another phase commonly encountered in the study of chemistry is the aqueous phase, 
                 which is the state of substances dissolved in aqueous solution (that is, in water).
                <br>
                Less familiar phases include plasmas, Bose–Einstein condensates and fermionic condensates 
                and the paramagnetic and ferromagnetic phases of magnetic materials. While most familiar 
                phases deal with three-dimensional systems, it is also possible to define analogs in 
                two-dimensional systems, which has received attention for its relevance to systems in biology.
        </p>
        <h3>
            Bonding
        </h3>
        <mat-divider></mat-divider>
        <p>
                Atoms sticking together in molecules or crystals are said to be bonded with one another. 
                A chemical bond may be visualized as the multipole balance between the positive charges 
                in the nuclei and the negative charges oscillating about them. More than simple attraction 
                and repulsion, the energies and distributions characterize the availability of an electron to 
                bond to another atom.
<br>
                A chemical bond can be a covalent bond, an ionic bond, a hydrogen bond or just because of 
                Van der Waals force. Each of these kinds of bonds is ascribed to some potential. 
                These potentials create the interactions which hold atoms together in molecules or crystals. 
                In many simple compounds, valence bond theory, the Valence Shell Electron Pair Repulsion model 
                (VSEPR), and the concept of oxidation number can be used to explain molecular structure and 
                composition.
                <br>
                An ionic bond is formed when a metal loses one or more of its electrons, becoming a 
                positively charged cation, and the electrons are then gained by the non-metal atom,
                 becoming a negatively charged anion. The two oppositely charged ions attract one another, 
                 and the ionic bond is the electrostatic force of attraction between them. For example, 
                 sodium (Na), a metal, loses one electron to become an Na+ cation while chlorine (Cl), 
                 a non-metal, gains this electron to become Cl−. The ions are held together due to 
                 electrostatic attraction, and that compound sodium chloride (NaCl), or common table salt, 
                 is formed.<br>
                 In a covalent bond, one or more pairs of valence electrons are shared by two atoms: 
                 the resulting electrically neutral group of bonded atoms is termed a molecule. Atoms 
                 will share valence electrons in such a way as to create a noble gas electron configuration 
                 (eight electrons in their outermost shell) for each atom. Atoms that tend to combine 
                 in such a way that they each have eight electrons in their valence shell are said to
                  follow the octet rule. However, some elements like hydrogen and lithium need only 
                  two electrons in their outermost shell to attain this stable configuration; these 
                  atoms are said to follow the duet rule, and in this way they are reaching the electron
                   configuration of the noble gas helium, which has two electrons in its outer shell.
<br>
Similarly, theories from classical physics can be used to predict many ionic structures. 
With more complicated compounds, such as metal complexes, valence bond theory is less applicable and
 alternative approaches, such as the molecular orbital theory, are generally used. See diagram on
  electronic orbitals.
        </p>
        <h2>
            History
        </h2>
        <mat-divider></mat-divider>
        <p>
                The history of chemistry spans a period from very old times to the present. Since several
                 millennia BC, civilizations were using technologies that would eventually form the basis 
                 of the various branches of chemistry. Examples include extracting metals from ores, 
                 making pottery and glazes, fermenting beer and wine, extracting chemicals from plants 
                 for medicine and perfume, rendering fat into soap, making glass, and making alloys 
                 like bronze. Chemistry was preceded by its protoscience, alchemy, which is an
                  intuitive but non-scientific approach to understanding the constituents of matter 
                  and their interactions. It was unsuccessful in explaining the nature of matter and 
                  its transformations, but, by performing experiments and recording the results, 
                  alchemists set the stage for modern chemistry. Chemistry as a body of knowledge 
                  distinct from alchemy began to emerge when a clear differentiation was made between 
                  them by Robert Boyle in his work The Sceptical Chymist (1661). While both alchemy and 
                  chemistry are concerned with matter and its transformations, the crucial difference
                   was given by the scientific method that chemists employed in their work. Chemistry
                    is considered to have become an established science with the work of Antoine 
                    Lavoisier, who developed a law of conservation of mass that demanded careful measurement
                     and quantitative observations of chemical phenomena. The history of chemistry is 
                     intertwined with the history of thermodynamics, especially through the work of 
                     Willard Gibbs.
        </p>
    </div>
<router-outlet></router-outlet>