.container{
text-align: center;
}
.Submit_button{
    background-color: #343A40;
    color: white;
}
::ng-deep.mat-dialog-container{
    border-radius: 15px !important;
    padding: 15px !important;
}