<br>
<div class="container">
    <h1>
        Biology
    </h1>
    <mat-divider></mat-divider>
    <p>
        Biology is the natural science that studies life and living organisms,
        including their physical structure, chemical processes, molecular interactions,
        physiological mechanisms, development and evolution.<span id="dots">...</span>
        <span id="more">Despite the complexity
            of the science, there are certain unifying concepts that consolidate it into a
            single, coherent field. Biology recognizes the cell as the basic unit of life,
            genes as the basic unit of heredity, and evolution as the engine that propels
            the creation and extinction of species. Living organisms are open systems that
            survive by transforming energy and decreasing their local entropy to maintain
            a stable and vital condition defined as homeostasis.
            <br>
            Sub-disciplines of biology are defined by the research methods employed and the
            kind of system studied: theoretical biology uses mathematical methods to formulate
            quantitative models while experimental biology performs empirical experiments
            to test the validity of proposed theories and understand the mechanisms underlying
            life and how it appeared and evolved from non-living matter about 4 billion years
            ago through a gradual increase in the complexity of the system. See
            branches of biology.
        </span>
    </p>
    <a href="javascript:void(0)" (click)="myFunction()" id="myBtn">Read more</a>

    <br>

    <h2>
        Etymology
    </h2>
    <mat-divider></mat-divider>
    <p>
        Biology derives from the Ancient Greek words of βίος; romanized bíos meaning
        "life" and -λογία; romanized logía (-logy) meaning "branch of study" or "to speak".
        Those combined make the Greek word βιολογία; romanized biología meaning biology.
        Although this, the term βιολογία as a whole didn't exist in Ancient Greek.
        First to borrow it were the English and French biologie. Since the advent of the
        scientific era, reanalyzable as a compound using the combining forms bio + logy.
    </p>
</div>
<div class="container" style="margin-bottom: 15px;">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img src="../../assets/images/download (1).jpg" class="image"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/images/download (2).jpg" class="image"></mat-grid-tile>
    </mat-grid-list>
    <div class="video">
        <iframe width="420" height="315" src="https://youtube.com/embed/DbX3XgdqSsg">
        </iframe>
    </div>

</div>
<router-outlet></router-outlet>