.minitoolbar{
    box-shadow: 0 15px 30px 0 rgba(8, 24, 54, 0.22), 0 5px 10px 0 rgba(8, 23, 54, 0.14);
    color: white;
    height: 65px;
    background: #343A40;
}
.navbar{
    color:white;
}
.logo{
    text-align: right;
}
.toolbar-logo{
    height: 50px;
    width: 50px;
}
.mainMenu{
    width:100%;
}
.mat-toolbar{
    height: 36px;
    text-align: centre;
}
.login-icon{
    text-align: center;
}
.example-fill-remaining-space{
    flex: 1 1 auto;
}
.logout_button{
    margin-right: 4px;
}
/* button:hover{
    color: #343A40;
} */
.toggle{
    display: none;
}

@media (max-width: 768px){
    .toggle{
        display: block;
    }
    .username{
        display: none;
    }
    .menubutton{
        display: none;
    }
} 

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
/* .footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background:#343A40;
    padding: 20px 0px;
}
.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
} */
.footer-bottom{
    background: #343A40;
    color: #3C4DAA;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    position: relative;
    bottom: 0;
}
