
.container{
    text-align: justify;
}
.p-image{
    height: 250px;
    width: 150px;
}
.pa-image{
    text-align: center;
}
.scientist{
    box-shadow: 0 15px 30px 0 rgba(8, 24, 54, 0.22), 0 5px 10px 0 rgba(8, 23, 54, 0.14); 
    padding: 0;
}
