<br>
<div class="container">
                <h1>
                        Physics
                </h1>

                <mat-divider></mat-divider>
                <p>
                        Physics (from Ancient Greek: φυσική (ἐπιστήμη), romanized: physikḗ (epistḗmē),
                        lit.
                        'knowledge of nature', from φύσις phýsis 'nature') is the natural science that
                        studies matter,its motion and behavior through space and time, and that studies
                        the
                        related entities of energy and force. Physics is one of the most fundamental
                        scientific
                        disciplines, and its main goal is to understand how the universe behaves.
                        <br>
                        Physics is one of the oldest academic disciplines and, through its inclusion of
                        astronomy,
                        perhaps the oldest. Over much of the past two millennia, physics, chemistry,
                        biology,
                        and certain branches of mathematics, were a part of natural philosophy, but
                        during the
                        Scientific Revolution in the 17th century these natural sciences emerged as
                        unique research
                        endeavors in their own right.Physics intersects with many interdisciplinary
                        areas of research,
                        such as biophysics and quantum chemistry, and the boundaries of physics are not
                        rigidly defined.
                        New ideas in physics often explain the fundamental mechanisms studied by other
                        sciences
                        and suggest new avenues of research in academic disciplines such as mathematics
                        and philosophy.
                        <br>
                        Advances in physics often enable advances in new technologies. For example,
                        advances in the
                        understanding of electromagnetism, solid-state physics, and nuclear physics led
                        directly to
                        the development of new products that have dramatically transformed modern-day
                        society,
                        such as television, computers, domestic appliances, and nuclear weapons;
                        advances in
                        thermodynamics led to the development of industrialization; and advances in
                        mechanics
                        inspired the development of calculus.
                </p>
                <h1>
                        History
                </h1>
                <mat-divider></mat-divider>
                <p>
                        Astronomy is one of the oldest natural sciences. Early civilizations dating back
                        before 3000 BCE,
                        such as the Sumerians, ancient Egyptians, and the Indus Valley Civilisation, had
                        a predictive
                        knowledge and a basic understanding of the motions of the Sun, Moon, and stars.
                        The stars and
                        planets were often worshipped, believed to represent gods. While the
                        explanations for the
                        observed positions of the stars were often unscientific and lacking in evidence,
                        these early
                        observations laid the foundation for later astronomy, as the stars were found to
                        traverse great
                        circles across the sky,which however did not explain the positions of the
                        planets.
                        <br>
                        According to Asger Aaboe, the origins of Western astronomy can be found in
                        Mesopotamia,
                        and all Western efforts in the exact sciences are descended from late Babylonian
                        astronomy.
                        Egyptian astronomers left monuments showing knowledge of the constellations and
                        the
                        motions of the celestial bodies,while Greek poet Homer wrote of various
                        celestial
                        objects in his Iliad and Odyssey; later Greek astronomers provided names, which
                        are still
                        used today, for most constellations visible from the Northern Hemisphere.
                </p>
                <h1>Classical Physics</h1>
                <mat-divider></mat-divider>
                <p>
                        Physics became a separate science when early modern Europeans used experimental
                        and quantitative
                        methods to discover what are now considered to be the laws of physics.[page
                        needed]
                        <br>
                        Major developments in this period include the replacement of the geocentric
                        model of the Solar
                        System with the heliocentric Copernican model, the laws governing the motion of
                        planetary bodies
                        determined by Johannes Kepler between 1609 and 1619, pioneering work on
                        telescopes and observational
                        astronomy by Galileo Galilei in the 16th and 17th Centuries, and Isaac Newton's
                        discovery
                        and unification of the laws of motion and universal gravitation that would come
                        to bear his
                        name.Newton also developed calculus, the mathematical study of change, which
                        provided
                        new mathematical methods for solving physical problems.
                        <br>
                        The discovery of new laws in thermodynamics, chemistry, and electromagnetics
                        resulted from greater
                        research efforts during the Industrial Revolution as energy needs increased.[28]
                        The laws comprising
                        classical physics remain very widely used for objects on everyday scales
                        travelling at
                        non-relativistic speeds, since they provide a very close approximation in such
                        situations,
                        and theories such as quantum mechanics and the theory of relativity simplify to
                        their
                        classical equivalents at such scales. However, inaccuracies in classical
                        mechanics for
                        very small objects and very high velocities led to the development of modern
                        physics in
                        the 20th century.
                        <br>
                        Classical physics includes the traditional branches and topics that were
                        recognised and well-developed
                        before the beginning of the 20th century—classical mechanics, acoustics, optics,
                        thermodynamics,
                        and electromagnetism. Classical mechanics is concerned with bodies acted on by
                        forces and bodies
                        in motion and may be divided into statics (study of the forces on a body or
                        bodies not subject
                        to an acceleration), kinematics (study of motion without regard to its causes),
                        and dynamics
                        (study of motion and the forces that affect it); mechanics may also be divided
                        into solid
                        mechanics and fluid mechanics (known together as continuum mechanics), the
                        latter include
                        such branches as hydrostatics, hydrodynamics, aerodynamics, and pneumatics.
                        Acoustics is
                        the study of how sound is produced, controlled, transmitted and received.
                        Important
                        modern branches of acoustics include ultrasonics, the study of sound waves of
                        very high
                        frequency beyond the range of human hearing; bioacoustics, the physics of animal
                        calls
                        and hearing, and electroacoustics, the manipulation of audible sound waves using
                        electronics.
                        <br>
                        Optics, the study of light, is concerned not only with visible light but also
                        with infrared
                        and ultraviolet radiation, which exhibit all of the phenomena of visible light
                        except visibility,
                        e.g., reflection, refraction, interference, diffraction, dispersion, and
                        polarization of light.
                        Heat is a form of energy, the internal energy possessed by the particles of
                        which a substance
                        is composed; thermodynamics deals with the relationships between heat and other
                        forms of energy.
                        Electricity and magnetism have been studied as a single branch of physics since
                        the intimate
                        connection between them was discovered in the early 19th century; an electric
                        current gives
                        rise to a magnetic field, and a changing magnetic field induces an electric
                        current.
                        Electrostatics deals with electric charges at rest, electrodynamics with moving
                        charges,
                        and magnetostatics with magnetic poles at rest.


                </p>
                <h1>Modern Physics</h1>
                <mat-divider></mat-divider>
                <p>
                        Modern physics began in the early 20th century with the work of Max Planck in
                        quantum theory
                        and Albert Einstein's theory of relativity. Both of these theories came about
                        due to inaccuracies
                        in classical mechanics in certain situations. Classical mechanics predicted a
                        varying speed of
                        light, which could not be resolved with the constant speed predicted by
                        Maxwell's equations
                        of electromagnetism; this discrepancy was corrected by Einstein's theory of
                        special relativity,
                        which replaced classical mechanics for fast-moving bodies and allowed for a
                        constant speed of
                        light. Black-body radiation provided another problem for classical physics,
                        which was
                        corrected when Planck proposed that the excitation of material oscillators is
                        possible
                        only in discrete steps proportional to their frequency; this, along with the
                        photoelectric
                        effect and a complete theory predicting discrete energy levels of electron
                        orbitals, led
                        to the theory of quantum mechanics taking over from classical physics at very
                        small
                        scales.
                        <br>
                        Quantum mechanics would come to be pioneered by Werner Heisenberg, Erwin
                        Schrödinger and Paul
                        Dirac. From this early work, and work in related fields, the Standard Model of
                        particle
                        physics was derived.Following the discovery of a particle with properties
                        consistent
                        with the Higgs boson at CERN in 2012, all fundamental particles predicted by the
                        standard
                        model, and no others, appear to exist; however, physics beyond the Standard
                        Model, with
                        theories such as supersymmetry, is an active area of research. Areas of
                        mathematics in
                        general are important to this field, such as the study of probabilities and
                        groups.
                        Classical physics is generally concerned with matter and energy on the normal
                        scale of observation,
                        while much of modern physics is concerned with the behavior of matter and energy
                        under extreme
                        conditions or on a very large or very small scale. For example, atomic and
                        nuclear physics studies
                        matter on the smallest scale at which chemical elements can be identified. The
                        physics of elementary
                        particles is on an even smaller scale since it is concerned with the most basic
                        units of matter;
                        this branch of physics is also known as high-energy physics because of the
                        extremely high energies
                        necessary to produce many types of particles in particle accelerators. On this
                        scale, ordinary
                        , commonsensical notions of space, time, matter, and energy are no longer valid.
                        <br>
                        The two chief theories of modern physics present a different picture of the
                        concepts of space, time,
                        and matter from that presented by classical physics. Classical mechanics
                        approximates nature as
                        continuous,
                        while quantum theory is concerned with the discrete nature of many phenomena at
                        the atomic and subatomic
                        level and with the complementary aspects of particles and waves in the
                        description of such phenomena.
                        The theory of relativity is concerned with the description of phenomena that
                        take place in a frame of
                        reference that is in motion with respect to an observer; the special theory of
                        relativity is concerned
                        with motion in the absence of gravitational fields and the general theory of
                        relativity with motion
                        and its connection with gravitation. Both quantum theory and the theory of
                        relativity find applications
                        in all areas of modern physics.
                </p>
                <h1>
                        Nuclear and Particle Physics
                </h1>
                <mat-divider></mat-divider>
                <p>
                        Particle physics is the study of the elementary constituents of matter and
                        energy and the
                        interactions between them. In addition, particle physicists design and develop
                        the
                        high-energy accelerators, detectors, and computer programs necessary for this
                        research.
                        The field is also called "high-energy physics" because many elementary particles
                        do not occur
                        naturally but are created only during high-energy collisions of other particles.
                        <br>
                        Currently, the interactions of elementary particles and fields are described by
                        the Standard Model.
                        The model accounts for the 12 known particles of matter (quarks and leptons)
                        that interact
                        via the strong, weak, and electromagnetic fundamental forces. Dynamics are
                        described in
                        terms of matter particles exchanging gauge bosons (gluons, W and Z bosons, and
                        photons,
                        respectively).The Standard Model also predicts a particle known as the Higgs
                        boson.
                        In July 2012 CERN, the European laboratory for particle physics, announced the
                        detection
                        of a particle consistent with the Higgs boson, an integral part of a Higgs
                        mechanism.
                        <br>
                        Nuclear physics is the field of physics that studies the constituents and
                        interactions
                        of atomic nuclei. The most commonly known applications of nuclear physics are
                        nuclear
                        power generation and nuclear weapons technology, but the research has provided
                        application
                        in many fields, including those in nuclear medicine and magnetic resonance
                        imaging,
                        ion implantation in materials engineering, and radiocarbon dating in geology and
                        archaeology.
                </p>
                <h1>
                        Astrophysics
                </h1>
                <mat-divider></mat-divider>
                <p>
                        Astrophysics and astronomy are the application of the theories and methods of
                        physics to the study
                        of stellar structure, stellar evolution, the origin of the Solar System, and
                        related problems of
                        cosmology. Because astrophysics is a broad subject, astrophysicists typically
                        apply
                        many disciplines of physics, including mechanics, electromagnetism, statistical
                        mechanics,
                        thermodynamics, quantum mechanics, relativity, nuclear and particle physics, and
                        atomic and
                        molecular physics.
                        <br>
                        The discovery by Karl Jansky in 1931 that radio signals were emitted by
                        celestial bodies initiated
                        the science of radio astronomy. Most recently, the frontiers of astronomy have
                        been expanded by
                        space exploration. Perturbations and interference from the earth's atmosphere
                        make space-based
                        observations necessary for infrared, ultraviolet, gamma-ray, and X-ray
                        astronomy.
                        <br>
                        Physical cosmology is the study of the formation and evolution of the universe
                        on its largest
                        scales. Albert Einstein's theory of relativity plays a central role in all
                        modern cosmological
                        theories. In the early 20th century, Hubble's discovery that the universe is
                        expanding, as shown
                        by the Hubble diagram, prompted rival explanations known as the steady state
                        universe and the
                        Big Bang.
                        <br>
                        The Big Bang was confirmed by the success of Big Bang nucleosynthesis and the
                        discovery of the
                        cosmic microwave background in 1964. The Big Bang model rests on two theoretical
                        pillars: Albert
                        Einstein's general relativity and the cosmological principle. Cosmologists have
                        recently
                        established the ΛCDM model of the evolution of the universe, which includes
                        cosmic inflation,
                        dark energy, and dark matter.
                        <br>
                        Numerous possibilities and discoveries are anticipated to emerge from new data
                        from the Fermi
                        Gamma-ray Space Telescope over the upcoming decade and vastly revise or clarify
                        existing models
                        of the universe. In particular, the potential for a tremendous discovery
                        surrounding
                        dark matter is possible over the next several years. Fermi will search for
                        evidence that
                        dark matter is composed of weakly interacting massive particles, complementing
                        similar
                        experiments with the Large Hadron Collider and other underground detectors.
                        <br>
                        IBEX is already yielding new astrophysical discoveries: "No one knows what is
                        creating the
                        ENA (energetic neutral atoms) ribbon" along the termination shock of the solar
                        wind, "but
                        everyone agrees that it means the textbook picture of the heliosphere—in which
                        the Solar
                        System's enveloping pocket filled with the solar wind's charged particles is
                        plowing through
                        the onrushing 'galactic wind' of the interstellar medium in the shape of a
                        comet—is wrong."
                </p>
        </div>
<router-outlet></router-outlet>